:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: monospace;
  font-size: 1rem;
}

.palette {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

summary {
  cursor: pointer;
  user-select: none;
}

summary:focus-visible {
  outline: 0.125rem dotted black;
  outline-offset: 0.25rem;
}

.controls {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-block-start: 1rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
}

.controls > * {
  display: block;
}

.input-checkbox {
  display: flex;
  gap: 0.5rem;
}

/* This main wrapper is needed for :has(), as it currently cannot be used on :host */

main:has(#contrast:not(:checked)) {
  .a11y-contrast-value {
    display: none;
  }

  .a11y-white,
  .a11y-black {
    inline-size: 4ch;
  }
}

main:has(#fail:not(:checked)) {
  .a11y-fail {
    display: none;
  }
  .a11y > * + * {
    margin-inline-start: 0rem;
  }
}

main:has(#pass:not(:checked)) {
  .a11y-pass {
    display: none;
  }
  .a11y > * + * {
    margin-inline-start: 0rem;
  }
}
main:has(#fail:not(:checked)):has(#pass:not(:checked)) {
  .a11y {
    display: none;
  }
}
