:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: monospace;
  font-size: 1rem;
}

.palette {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
}

/* This wrapper is needed for :has(), as it currently cannot be used on :host */
.wrapper:has(#contrast:checked) {
  .a11y-contrast-value {
    display: block;
  }

  .a11y-white,
  .a11y-black {
    inline-size: 9ch;
  }
}
