:host {
  /* display: block; */
}

.color-palette-row,
.details {
  /* display: flex;
  align-items: center; */
  font-family: monospace;
  /* gap: 1rem; */
}

.color-palette-row {
  background-color: black;
}

.details {
  color: white;
  /* min-width: max-content; */
}

.custom-property {
  font-weight: bold;
  background-color: hsla(0, 0%, 100%, 0.125);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.visual {
  width: 100%;
  /* width: 100px; */
  /* min-width: 100px; */
  height: 100%;
  /* border-radius: 4px; */

  box-sizing: border-box;

  padding: 0 0.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}

.a11y {
  /* display: flex;
  align-items: center; */
  font-family: monospace;
  font-size: 0.75rem;
  flex-direction: row;
  /* gap: 0.5rem; */
}

.a11y > * + * {
  margin-inline-start: 0.5rem;
}
