:host {
  display: block;
}

.color-palette-row,
.details {
  display: flex;
  align-items: center;
  font-family: monospace;
  gap: 1rem;
}

.color-palette-row {
  min-height: 1.5rem;
  flex-direction: row;
  padding: 0.5rem;
  font-size: 0.75rem;
}

.details {
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.details > span {
  min-width: max-content;
}

.custom-property {
  font-weight: bold;
}

.a11y {
  display: flex;
  align-items: center;
  font-family: monospace;
  flex-direction: row;
  /* gap: 0.5rem; */
}

.a11y > * + * {
  margin-inline-start: 0.5rem;
}
